extends layout

block content
  header
    h1= title
      br
      button
        a(href='/new') Send a message!
  main
    each message in messages 
      h2= message.text
      footer
        p
          strong= message.user
          span= ' ' + message.added
  
        